* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #1A1A16;
    padding: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.container {
    width: 256.656px;
    height: 578.984px;
    background-color: #2a2a2a;
    color: white;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    
}

img {
    width: 100%;
    height: 375px;
    border-radius: 15px;
}