* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a16;
  padding: 40px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
}

.container {
  width: 256.656px;
  height: 578.984px;
  background-color: #2a2a2a;
  color: white;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 10px;

}

img {
  max-width: 300px;
  height: 375px;
  border-radius: 15px;
  
}

.desc {
  color: white;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.vote {
    background-color: blueviolet;
    height: 20px;
    width: 10px;
}