* {
    margin: 0;
    padding: 0;
}




/* 1. */
/* .wrapper {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
    column-gap: 20px;    
    justify-content: center;
    background-color: rgb(252, 242, 204);
}

.column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item {
    background-color: orange;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: 400px;
}
img {
    width: 50px;
    height: 50px;
} */

/* 2. */


button {
    height: 50px;
    width: 220px;
    font-size: larger;
    box-shadow: 2px 2px grey;
    background-color: black;
    transition: all ease 0.7s;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
button:hover {
    background-color: rgb(47, 47, 47);
    transform: scale(1.02);
}

#city-input {
    height: 50px;
    width: 220px;
    font-size: larger;
     font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    }

.contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: white;
    width: 400px;
    height: 600px;
    border-radius: 20px;
    padding: 20px;
    padding-top: 50px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
